html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 4;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html { overflow-y: scroll; }

body { 
  background: #eee url('bg.png'); /* http://subtlepatterns.com/weave/ */
  font-size: 80%;
  line-height: 1;
  padding: 22px 10px;
  padding-bottom: 50px;
}

::selection { background: red; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
   display: block;
   margin-left: auto;
   margin-right: auto;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0}
img { border: 0; max-width: 100%; }


/** page structure **/
#wrapper {
  display: block;
  width: 1250px;
  background: #fff;
  margin: 0 auto;
  margin-right: 0;
  margin-left: 0;
  -webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.35);
}

#wrap {
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  padding: 20px 15px;
  -webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.35);
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}

#keywords thead {
  cursor: pointer;
  background: #194719;
  border: 3px outset #194719;
  font-size: 18px;
}

#keywords thead th.hover:hover {
  cursor: pointer;
  background: #006B00;
}

#keywords thead tr th { 
  font-weight: bold;
  padding: 10px 10px;
  padding-left: 15px;
  color: white;
}

#keywords thead tr th {
  border: 5px outset #194719;
  font-size: 18px;
}

#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp:hover, #keywords thead tr th.headerSortDown:hover {
  background: #006B00;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('up_arrow.png');
}

#keywords thead tr th.headerSortDown span {
  background-image: url('down_arrow.png');
}

#keywords tbody tr { 
  color: #555;
}

#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
  border: 3px outset #194719;
  font-size: 18px;
}

#keywords tbody tr td.lalign {
  text-align: left;
}

table, th {
    border: 5px outset #194719;
    font-size: 20px;
	text-align:center;
	font-family:"American Classic";
}

th {
    background-color: #194719;
	font-size: 20px;
    color: white;
	font-family: "American Classic";
	height: 40px;
}

input[type="submit"] {
	background-color: #194719;
	color: white;
	height: 30px;
	font-family: Times;
	font-size:15px;
}

.button:hover {
	background: #006B00;
}


textarea {
	width: 500px;
	height: 120px;
	border: 3px solid #194719;
	padding: 3px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.header h3 {
  position: relative;
  top: 5px;
  left: 10px;
  color: white;
  font-family: "C";
  font-size:20px;
  font-weight: normal;
  margin-top: -10px;
}


h4 {
  position: relative;
  top: 10px;
  left: 10px;
  color: #003300;
  font-family: "Open Sans";
  font-size:40px;
  font-weight: bold;
  margin-top: -5px;

}

h5{
  position: relative;
  left: 10px;
  color: #003300;
  font-family: Tahoma;
  font-size:30px;
  font-weight: normal;
  margin-top: -20px;
}

h6 {
  position: relative;
  top: 5px;
  left: 10px;
  color: #003300;
  font-family: "Open Sans";
  font-size:28px;
  font-weight: normal;
  margin-top: 20px;

}

@font-face {
    font-family: visitor;
    src: url(visitor1.ttf);
}

@font-face {
    font-family: game_over;
    src: url(game_over.ttf);
}

@font-face {
    font-family: optien;
    src: url(Optien.ttf);
}

@font-face {
    font-family: ormont_light;
    src: url(Ormont_Light.ttf);
}


h1{
    font-family: ormont_light;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 28px;
    line-height: 1.7em;
    margin-bottom: 10px;
}

.lead1{
    font-family: ormont_light;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 40px;
    line-height: 1.7em;
    margin-bottom: 10px;
}

h2{
    font-family: ormont_light;
    font-weight: bold;
    text-align: left;
    color: black;
    font-size: 28px;
    line-height: 1.7em;
    margin-top: 10px;
}

.lead{
    font-family: ormont_light;
    font-weight: bold;
    text-align: left;
    color: black;
    font-size: 24px;
    line-height: 1.7em;
}
